# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\koksj\Documents\HAN\HBO-ICT\20-21-basissemesters\OOSE\GitHub\spotitube\spotitube\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
